# pyc
*.pyc

# swap files
*.swp

# Pascal Related Items
*.o
/helloworld

# Extra folders
/code_examples

# Jetbrains Folder and Files
*.idea/

# ImDone Plugin
.imdone/

# Venv
/[Vv]env

# Orig files
*.orig*
